*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #ff1170;
    overflow: hidden;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.object, .object-2 {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 50%;
    height: 70%;
    background-color: #FEA22B;
    filter: blur(85px);
    -webkit-filter: blur(85px);
    -o-filter: blur(85px);
    z-index: -1;
}
.object {
    top: -120px;
    left: -250px;
}
.object-2 {
    bottom: -120px;
    right: -250px;
}
.content {
    width: 40%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
.content .image {
    padding: 10px;
    width: 85%;
}
.content img {
    width: 100%;
    height: 50vh;
    border-radius: 15px;
}
.info #title{
    font-size: 32px;
}
.info p {
    margin-top: 4px;
    color: #333;
    font-weight: 500;
}
.control {
    margin-top: 20px;
    display: flex;
}
.control .icn {
    margin: 5px;
    background-color: #ff1170;
    border-radius: 50%;
}
.control i {
    font-size: 38px;
    padding: 5px;
    color: #fff;
    margin-left: 2px;
}


@media screen and (max-width: 800px){
    .content {
        width: 55%;
    }
}

@media screen and (max-width: 500px){
    .object, .object-2 {
        width: 70%;
    }
    .object {
        left: -50px;
        top: -150px; 
    }
    .object-2 {
        bottom: -150px;
        right: 0px;
    }
    .content{
        width: 80%;
    }
}